@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,600&display=swap");

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

TOPページ、コロナ対策の注意喚起部分の設定

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 767.98px) {
  .coworking-top .top-text {
    margin-top: 100px;
  }
}

@media screen and (max-width: 575.98px) {
  .alert-danger {
    font-size: 12px;
  }
  .coworking-top .top-text h2 {
    font-size: 24px;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

全体の設定

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
body {
  color: #777;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

section {
  padding: 80px 0;
}

#header {
  transition: all 0.5s;
}

#header.hide {
  transform: translateY(-180px);
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.bg-darkgray {
  background-color: #a9a9a9;
}

.container,
.container-fulid {
  overflow: hidden;
}

.right-container {
  max-width: calc((100vw + 1100px) / 2);
  padding-left: 10px;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 767.8px) {
  .right-container {
    max-width: calc((100vw + 354px) / 2);
  }
}

/* 見出しを太字に */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

@media screen and (max-width: 768px) {
  h2,
  h3,
  h4 {
    font-size: 20px;
  }
}

h1.display-4,
.top-text h2 {
  text-shadow: 0px 0px 5px #00000044, -0px 0px 5px #00000044,
    0px -0px 5px #00000044, -0px -0px 5px #00000044;
}

h1.display-4 {
  font-size: 6.5em;
}

.lead {
  text-shadow: 0px 0px 5px #00000044, -0px 0px 5px #00000044,
    0px -0px 5px #00000044, -0px -0px 5px #00000044;
  font-size: 20px;
  line-height: 1.5;
}

.nowrap {
  display: inline-block;
  white-space: nowrap;
}

.top-button {
  box-shadow: 0px 2px 5px rgb(17, 14, 9);
  padding: 15px 70px;
  margin: 5px;
  width: 340px;
}

.btn-white {
  background-color: var(--white);
  color: #a9a9a9;
  box-shadow: 0px 2px 5px rgb(17, 14, 9);
}

.footer-menus a {
  color: #ffffff;
}

.footer-menus p {
  margin-bottom: 1rem;
}

.copyright {
  margin-top: 50px;
}

.term_main {
  padding: 10px;
  padding-top: 100px;
}

header {
  box-shadow: 0px 0px 5px #00000044;
}

header.container-fluid {
  position: fixed;
  z-index: 100;
}

.virtual-office .top-text {
  padding: 0 10%;
}

.virtual-office-menus {
  margin-top: 30px;
}

.virtual-top-contents {
  max-width: 650px;
}

.virtual_circle {
  background-color: #e0de15;
  opacity: 0.8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 8px 8px #615f09;
}

.virtual_circle_text {
  color: #3a3a3a;
  height: 0;
  padding-top: 30%;
  line-height: 30px;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.virtual_circle_text span {
  font-size: 26px;
  color: #0f8ffa;
}

@media screen and (max-width: 768px) {
  .top-button {
    box-shadow: 0px 2px 5px rgb(17, 14, 9);
    padding: 15px 15px;
    margin: 5px;
    width: 230px;
  }
}

/* 英字タイトルをWEBフォントに */
.display-4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
}

header a,
.display-3,
.lead,
.circle-badges {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

/* パンくずリスト */
.breadcrumb {
  margin: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  list-style: none;
}

.breadcrumb li:after {
  content: ">";
  padding: 0 8px;
  color: #333;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a,
.breadcrumb li p {
  font-size: 14px;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  color: #000;
}

/* ヘッダー営業時間 */
.top-stitch {
  padding: 0.5rem 0;
  color: #565656;
  background-color: #a9a9a9;
  box-shadow: 0px 0px 0px 10px #a9a9a9;
  border-bottom: dashed 2px #fff;
  border-left: dashed 2px #fff;
  border-right: dashed 2px #fff;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.top-stitch p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 73px;
  height: 35px;
  background: url("../img/logo_gray.png") center/contain;
  background-repeat: no-repeat;
}

/* コワーキング料金一覧テーブル */
table.plan-list th,
table.plan-list td {
  vertical-align: middle;
}

/* twitter埋め込み */

.twitter_area {
  margin: 0 auto;
  width: 320px;
}

/* ------------------------------
NEWS
--------------------------------- */
#news a:hover {
  color: #595959;
}
#news a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

/* ------------------------------
地図サイズ
--------------------------------- */
iframe {
  display: block;
  width: 100%;
}
iframe.map {
  height: 400px;
  border-radius: 20px;
}

/* ------------------------------
フッター
--------------------------------- */
footer {
  margin: 0;
  padding: 80px 0;
  background-color: #111;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

トップページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* トップ画像 */
.top-image {
  background-image: url("../img/cafe-image.jpg");
  background-size: cover;
  background-position: center center;
  height: 800px;
  box-shadow: 0px 5px 6px 0px #e2e2e2;
  border-radius: 0;
}

.virtual-top-image {
  background-image: url("../img/bg_image.jpg");
}

.top-image > .filter {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.virtual-top-image > .filter {
  opacity: 0.4;
}

.card-event-title {
  text-shadow: 0px 0px 5px #00000044, 0px 0px 5px #00000044,
    0px 0px 5px #00000044, 0px 0px 5px #00000044;
}

.event-card-img {
  object-fit: cover;
}
.event-card-title {
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-top {
  background: linear-gradient(#1b406b, #172c59);
  height: 260px;
  box-shadow: 0px 5px 6px 0px #e2e2e2;
  border-radius: 0;
}
.events-top .eventpage-title {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}

.top-text {
  top: 50%;
  transform: translateY(-40%);
}

.events-top .top-text {
  top: 60%;
}

.virtual-office .top-text {
  top: 50%;
  transform: translateY(-38%);
}

.mobile-footer button {
  font-size: 10px;
  border-radius: 0;
  color: #999;
}

.mobile-footer a {
  font-size: 10px;
  border-radius: 0;
  color: #999;
}

.mobile-footer-tel {
  color: #fff;
}

.mobile-footer > div {
  width: 20%;
  border-right: #ddd 1px solid;
}

.mobile-footer > div:last-child {
  border: none;
}

.mobile-footer button:focus {
  outline: none !important;
}

.mobile-footer a:focus {
  outline: none !important;
  opacity: 1;
}

.mobile-footer-special > div {
  width: 50%;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

コワーキングプランページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.plan-category {
  position: relative;
  display: block;
  background-color: #18335f;
  color: #ffffff;
  padding: 10px;
  overflow: auto;
}
.plan-category:hover {
  opacity: 0.8;
}

.plan-category > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plan-category > .plans-open-icon {
  display: block;
  float: right;
  margin-right: 5px;
  height: 100%;
}

.plan-category > .plans-category-name {
  width: 90%;
  float: left;
  height: 100%;
}
@media screen and (max-width: 575.98px) {
  .plan-category > .plans-category-name {
    width: 100%;
  }
  .plan-category > .plans-open-icon {
    margin-top: 5px;
    width: 100%;
    text-align: center;
  }
  .plan-category > .plans-open-icon > i {
    transform: rotate(90deg);
  }
}

.flow-button,
.plan-button {
  position: relative;
  background-color: #18325f;
  color: #ffffff;
  border-radius: 12px;
  transition-duration: 0.3s;
  border: 2px solid #18325f;
}

@media screen and (max-width: 575.98px) {
  .flow-button h2,
  .plan-button h2 {
    font-size: 1.5em;
  }
}

.flow-button > a,
.plan-button > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flow-button:hover,
.plan-button:hover {
  background-color: #fff;
  color: #18325f;
}

.service-card {
  background-color: #f8f9fa;
  height: 90%;
  box-shadow: 0 0 5px #aaa;
}

.service-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.service-text {
  padding: 18px 12px;
}

.service-text-title {
  font-size: 18px;
}

.service-text-description {
  margin-bottom: 0;
  font-size: 14px;
}

@media screen and (max-width: 767.98px) {
  .service-card {
    display: flex;
    width: 100%;
    height: auto;
  }

  .service-img {
    width: 40%;
    height: 180px;
  }

  .service-text {
    width: 60%;
  }

  .services-container > div:nth-child(even) .service-card {
    flex-direction: row-reverse;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

バーチャルオフィスTOP About us

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

h2.color-gray {
  color: #a9a9a9;
}

.about-us {
  overflow: hidden;
  color: #a9a9a9;
}

.about-us-img {
  position: relative;
  background-color: #000;
  border-radius: 10px;
}

.about-us-img img {
  border-radius: 10px;
  opacity: 0.7;
}

.about-us-img h3 {
  width: 100%;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
}

.about-us-img a:hover h3 {
  font-size: 34px;
  transition: all 0.5s;
}

.about-us-detail {
  width: 100%;
  background-color: #18325f;
  color: #fff;
  border: 3px solid #18325f;
  border-radius: 10px;
}

.about-us-detail:hover {
  background-color: #fff;
  color: #18325f;
  transition: background 0.4s;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

バーチャルオフィス契約ステップページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.step-card.step1 {
  background-image: url(/img/seminarroom.jpg);
}
.step-card.step2 {
  background-image: url(/img/cafe.jpg);
}
.step-card.step3 {
  background-image: url(/img/pc.jpg);
}
.step-card.step4 {
  background-image: url(/img/documents.jpg);
}
.step-card.step5 {
  background-image: url(/img/interview.jpg);
}
.step-card.step6 {
  background-image: url(/img/engineer.png);
}
.step-card.step7 {
  background-image: url(/img/creditcard.jpg);
}
.step-card.step8 {
  background-image: url(/img/virtual_office.jpg);
}
.step-card {
  background-size: cover;
  background-position: center center;
  position: relative;
}
.step-card::before {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}
.step-card > .card-body {
  z-index: 10;
}
.harbors-button {
  border: #fff 1px solid;
  color: #fff;
  box-shadow: 0 0px 10px 10px gray;
  transition: all 0.7s;
}

.harbors-button:hover {
  background-color: #fff;
  color: #a9a9a9;
  box-shadow: none;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

目次

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.table-of-contents {
  background-color: #fafafa;
  width: 60%;
  margin: 0 auto;
  border: dotted #18325f 2px;
  box-shadow: 0 0 5px #999;
  color: #18325f;
  padding: 30px;
}

.table-of-contents li {
  margin-top: 8px;
}

.table-of-contents a {
  color: #18325f;
}

@media screen and (max-width: 768px) {
  .table-of-contents {
    width: 100%;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ボタンリンク

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.link-button {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  overflow: hidden;
  background: #f7f7f7;
}

.link-button:hover {
  opacity: 0.7;
  text-decoration-color: #333;
}

.link-button-img {
  width: 50%;
}

.link-button-img img {
  width: 100%;
}

.link-button-text {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

@media screen and (max-width: 991.98px) {
  .link-button {
    width: 80%;
  }

  .link-button-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .link-button {
    width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .link-button-img {
    width: 40%;
  }

  .link-button-text {
    width: 60%;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

バーチャルオフィスとは

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.title-level1 {
  border-top: 3px solid #9f166a;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.16);
  padding: 7px;
}

.title-level2-solid {
  border-bottom: 1px solid #426579;
  border-left: 10px solid #426579;
  padding: 7px;
}

.title-level2 {
  border-bottom: 2px dotted #203744;
  border-left: 10px solid #203744;
  padding: 7px;
}

.title-level3 {
  border-bottom: 5px double #426579;
  border-left: 10px solid #426579;
  padding: 7px;
}

.image-size {
  width: 75%;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

バーチャルオフィスの選び方

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.h2_title {
  line-height: 140%;
}

.h2_title small {
  font-size: 18px;
}

@media screen and (min-width: 575.98px) {
  .br-sp {
    display: none;
  }

  .h2_title small {
    font-size: 22px;
  }
}

@media screen and (min-width: 991.98px) {
  .br-tb {
    display: none;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

features_of_harbors

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 575.98px) {
  .iframe-responsive iframe {
    height: 250px;
  }

  .title_responsive {
    font-size: 26px;
  }

  .title_responsive small {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .card-img {
    width: 50%;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

バーチャルオフィスFAQ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.faq {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fcfcfc;
}

.faq-question {
  color: #ee8585;
  margin-left: 32px;
  text-indent: -38px;
  font-weight: 500;
  font-size: 20px;
}

.faq-question::before {
  content: "Q.";
  margin-right: 10px;
  font-weight: bold;
  font-size: 24px;
}

.faq-answer {
  margin-bottom: 0px;
  margin-left: 32px;
  text-indent: -38px;
}

.faq-answer::before {
  content: "A.";
  margin-right: 10px;
  font-weight: bold;
  font-size: 24px;
}

.faq-button {
  width: 50%;
  padding: 16px 0;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .faq-button {
    width: 100%;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

シェアオフィス、レンタルオフィスとは？サービスの違いやメリットについて解説

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.compare-office {
  width: 100%;
}

.compare-office th,
.compare-office td {
  border: #e7f5ff solid 1px;
  padding: 12px;
  text-align: center;
}

.compare-office tr:first-child th:first-child {
  background: none;
  border: none;
}

.compare-office tr:first-child th:nth-child(2) {
  background-color: #57A7F3;
  border: #fff solid 1px;
  color: #FFF;
}

.compare-office tr:first-child th:nth-child(3) {
  background-color: #2C92D5;
  border: #fff solid 1px;
  color: #FFF;
}

.compare-office tr:first-child th:nth-child(4) {
  background-color: #155F9E;
  border: #fff solid 1px;
  color: #FFF;
}

.compare-office tr td:first-child {
  background-color: #e7f5ff;
  font-weight: bold;
  border: #fff solid 1px;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ROOMページ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
h2.top {
  text-shadow: 0px 0px 5px #00000044, -0px 0px 5px #00000044,
    0px -0px 5px #00000044, -0px -0px 5px #00000044;
}

.rooms-main {
  padding-top: 100px;
}

.rooms-title {
  margin: 35px 0 30px;
  color: #333;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.rooms-description {
  font-size: 14px;
  color: #666;
  line-height: 28px;
}

.rooms-h2 {
  font-size: 32px;
  color: #555;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-bottom: 44px;
  border-bottom: 3px #999 solid;
}

.rooms-list img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.rooms-list-center {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

.rooms-list-description {
  width: 90%;
  margin: 0 auto;
  color: #555;
}

.rooms-list-description h4 {
  font-size: 20px;
}

.rooms-list-description h4::before {
  content: "・";
}

.rooms-list-description p {
  padding-left: 20px;
}

.rooms-purpose p {
  width: 85%;
  margin: 0 auto;
  color: #555;
  line-height: 36px;
}

.rooms-reservation p {
  color: #555;
}

.rooms-reservation .row {
  background-color: #ccc;
  padding: 20px 0;
}

.rooms-flow,
.rooms-info {
  color: #555;
}

@media screen and (max-width: 1224px) {
  .rooms-title {
    margin: 18px 0;
    font-size: 34px;
    line-height: 50px;
  }

  .rooms-description {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767.8px) {
  .rooms-title {
    margin: 20px 0;
    font-size: 32px;
    line-height: 54px;
  }

  .rooms-description {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 380px) {
  .rooms-title {
    font-size: 28px;
    line-height: 50px;
  }
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

g-contents

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* 内部コーディング */
/** h1タグ **/
.h-tit {
  font-size: 11px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: normal !important;
  margin: 0;
}

.contents-title-2 {
  font-size: 2rem;
}

.contents-title-3 {
  font-size: 1.75rem;
}

.contents-title-4 {
  font-size: 1.5rem;
}

.contents-title-5 {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .h-tit {
    font-size: 10px;
    padding: 5px 10px 0;
  }

  .contents-title-2 {
    font-size: 1.8rem;
  }

  .contents-title-3 {
    font-size: 1.5rem;
  }

  .contents-title-4 {
    font-size: 1.25rem;
  }

  .contents-title-5 {
    font-size: 1.1rem;
  }
}
/** ファーストビュー **/
.fv {
  margin: 20px 0 30px;
}

.monthly-fee {
  border-radius: 30px;
}
/** SEOテキスト **/
.text_area h2,
.c-nap h2 {
  font-size: 1.5rem;
  margin: 0 0 15px;
  text-align: left;
}
.text_area p {
  margin: 0;
}
.text_area .u-pb15 {
  padding-bottom: 15px;
}
/** NAP **/

.text_area .c-nap {
  margin: 40px 0 0;
}
.text_area .c-table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: left;
  width: 100%;
}
.text_area .c-table th {
  background: #f7f7f7;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
  width: 25%;
}
.text_area .c-table td {
  border: 1px solid #ddd;
  vertical-align: middle;
}
.text_area .u-p15 {
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  .text_area h2,
  .text_area .c-nap h2 {
    font-size: 1.35rem;
  }
  .text_area .c-table th {
    display: block;
    width: auto;
  }
  .text_area .c-table td {
    display: block;
  }
}
/** ボタン **/
.column_link {
  margin: 40px 0 50px;
  text-align: center;
}
.column_link a {
  background: #ffc107;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgb(17, 14, 9);
  color: #fff !important;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  width: 95%;
}
.column_link a:hover {
  background: #e0a800;
  text-decoration: none;
}
@media (min-width: 768px) {
  .column_link a {
    font-size: 17px;
    width: 60%;
  }
  .btn_br {
    display: none;
  }
}
@media (min-width: 980px) {
  .column_link a {
    width: 45%;
  }
}
/** アンカーテキスト **/
.copyright a {
  color: #fff;
}
.copyright a:hover {
  color: #fff;
  opacity: 0.8;
}
/* // 内部コーディング */

/* コンテンツ */
/** パンくず修正 **/
.breadcrumb li:last-child::after {
  display: none;
}
/** 大見出し修正 **/
@media screen and (min-width: 768px) {
  .g-h-tit {
    padding-top: 85px;
  }
  .g-h-tit2 {
    padding-top: 75px;
  }
}
@media screen and (min-width: 769px) {
  .g-h-tit,
  .g-h-tit2 {
    font-size: 150%;
    padding-top: 30px;
  }
}
@media screen and (min-width: 980px) {
  .g-h-tit,
  .g-h-tit2 {
    font-size: 2rem;
    padding-top: 0;
  }
}
/** 間隔 共通 **/
.u-m0 {
  margin: 0 !important;
}
.u-mt10 {
  margin-top: 10px !important;
}
.u-mt15 {
  margin-top: 15px !important;
}
.u-mt20 {
  margin-top: 20px !important;
}
.u-mt30 {
  margin-top: 30px !important;
}
.u-mt40 {
  margin-top: 40px !important;
}
.u-mt50 {
  margin-top: 50px !important;
}
.u-mt60 {
  margin-top: 60px !important;
}
.u-mt1em {
  margin-top: 1em !important;
}
.u-mb10 {
  margin-bottom: 10px !important;
}
.u-mb15 {
  margin-bottom: 15px !important;
}
.u-mb20 {
  margin-bottom: 20px !important;
}
.u-mb30 {
  margin-bottom: 30px !important;
}
.u-mb40 {
  margin-bottom: 40px !important;
}
.u-mb50 {
  margin-bottom: 50px !important;
}
.u-mb60 {
  margin-bottom: 60px !important;
}
.u-mb1em {
  margin-bottom: 1em !important;
}
.u-p0 {
  padding: 0 !important;
}
.u-p10 {
  padding: 10px !important;
}
.u-p15 {
  padding: 15px !important;
}
.u-p20 {
  padding: 20px !important;
}
.u-pt10 {
  padding-top: 10px !important;
}
.u-pt20 {
  padding-top: 20px !important;
}
.u-pt30 {
  padding-top: 30px !important;
}
.u-pt40 {
  padding-top: 40px !important;
}
.u-pt50 {
  padding-top: 50px !important;
}
.u-pt60 {
  padding-top: 60px !important;
}
.u-pt1em {
  padding-top: 1em !important;
}
.u-pb10 {
  padding-bottom: 10px !important;
}
.u-pb20 {
  padding-bottom: 20px !important;
}
.u-pb30 {
  padding-bottom: 30px !important;
}
.u-pb40 {
  padding-bottom: 40px !important;
}
.u-pb50 {
  padding-bottom: 50px !important;
}
.u-pb60 {
  padding-bottom: 60px !important;
}
.u-pb1em {
  padding-bottom: 1em !important;
}
#breadcrumbs {
  font-size: 90%;
  margin: 0 0 20px;
  text-align: left;
}
.l-container {
  word-break: normal;
  color: #343a40;
}
/** タイトル 共通 **/
.l-container .l-heading-primary {
  line-height: 1.4;
}
.l-container .l-heading-secondary {
  border-left: 5px solid #18315e;
  padding: 5px 10px;
}
.l-container .l-tertiary {
  font-size: 1.2rem;
}
.l-container .l-tertiary span::before {
  content: "●";
  color: orange;
  font-size: 1em;
  padding: 0 8px 0 0;
  text-shadow: 1px 1px 2px black;
}
@media only screen and (max-width: 768px) {
  .l-container .l-heading-secondary {
    font-size: 1.2rem !important;
  }
  .row .col-lg-12 h2 {
    font-size: 1.3rem;
  }
  .c-linkblock h3 {
    font-size: 1.2rem !important;
  }
  .c-nap h3 {
    font-size: 1.2rem !important;
  }
}
/** テキストブロック 共通 **/
.c-block {
  overflow: hidden;
}
.c-block a {
  color: red;
}
/** 小見出しブロック 共通 **/

/** 末尾分 共通 **/
.c-endblock {
  background: #eee;
  border: 1px solid #ddd;
  padding: 18px 18px 2px;
}
/** 画像 共通 **/
.img-left-s,
.img-right-s,
.img-left-l,
.img-right-l {
  float: none;
  margin: 0 0 4%;
  width: 100%;
}
.img-left-s img,
.img-right-s img,
.img-left-l img,
.img-right-l img {
  vertical-align: middle;
  width: 100%;
}
/** リンク一覧 共通 **/
.c-linkblock h3 {
  background: #18315e;
  padding: 10px;
  color: #fff;
}
.c-pagelink {
  padding-left: 20px;
}
.c-pagelink li {
  margin: 0 10px 20px;
}
.c-pagelink li:last-child {
  margin: 0 10px 0;
}
/** NAP表 共通 **/
.c-nap h3 {
  background: #18315e;
  padding: 10px;
  color: #fff;
}
.c-table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  text-align: left;
  width: 100%;
}
.c-table th {
  background: #f7f7f7;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
  width: 25%;
}
.c-table td {
  border: 1px solid #ddd;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .c-table th {
    display: block;
    width: auto;
  }
  .c-table td {
    display: block;
  }
}
/** ボタン 共通 **/
.c-btn {
  text-align: center;
}
.c-btn-anchor {
  background: #1d2e88;
  border-radius: 5px;
  color: #fff !important;
  display: inline-block;
  font-weight: bold;
  padding: 15px 10px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
  box-sizing: border-box;
}
.c-btn-anchor:hover {
  background: #e26564;
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}
@media (min-width: 768px) {
  /** リンク一覧 PCのみ **/

  /** 画像 PCのみ **/
  .img-left-s {
    float: left;
    margin: 0 4% 4% 0;
    width: 35%;
  }
  .img-right-s {
    float: right;
    margin: 0 0 4% 4%;
    width: 35%;
  }
  .img-left-l {
    float: left;
    margin: 0 4% 4% 0;
    width: 30%;
  }
  .img-right-l {
    float: right;
    margin: 0 0 4% 4%;
    width: 30%;
  }
}
/** リスト **/
.c-block .c-list {
  margin: 1em 0 2em;
  padding: 10px 10px 10px 40px;
  border: 1px solid #182f5c;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .c-block .c-list {
    max-width: 60%;
    padding: 10px 10px 10px 25px;
  }
}
/** ボタン タブレット **/
@media screen and (min-width: 768px) {
  .c-btn-anchor {
    width: 60%;
  }
}
/** ボタン PC **/
@media screen and (min-width: 980px) {
  .c-btn-anchor {
    width: 35%;
  }
}
/* // コンテンツ */

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

メディアクエリ

＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* 中デバイス（タブレット, 992px 未満）
============================================== */
@media screen and (max-width: 991.98px) {
  .logo-mark {
    left: 5%;
  }

  .main-txt {
    left: 5%;
  }

  .zigzag {
    margin: 10% 0;
  }

  .light-zigzag {
    margin: 10% 0 0;
  }

  .column-span {
    line-height: 0px;
  }
}

/* END */

/* 小デバイス（横向きモバイル, 768px 未満）
============================================== */
@media screen and (max-width: 767.98px) {
  /* ロゴマークを小さく設定 */
  .logo-mark {
    height: 140px;
    width: 140px;
  }

  .logo-mark img {
    width: 50%;
  }

  .lead {
    font-size: 1rem;
  }

  .coworking-top .top-text {
    top: 50%;
    transform: translateY(-70%);
  }

  .coworking-top {
    height: 650px;
  }

  .circle-badges {
    top: -10px;
    width: 100px;
    height: 100px;
  }

  .virtual-office .top-text {
    padding: 0 5%;
  }

  .virtual_circle {
    width: 120px;
    height: 120px;
  }

  .virtual_circle_text {
    padding-top: 24%;
    font-size: 16px;
  }

  .virtual_circle_text span {
    font-size: 22px;
  }
}

/* END */

/* 極小デバイス（縦向きモバイル, 576px 未満）
	============================================== */
@media screen and (max-width: 575.98px) {
  .top-image {
    height: 700px;
  }

  .display-3,
  .display-4 {
    font-size: 2rem;
  }

  .monthly-fee .display-3 {
    font-size: 4rem;
  }

  h1.display-4 {
    font-size: 3rem;
  }

  .coworking-top .top-text {
    top: 55%;
  }

  .logo-mark {
    left: 5%;
    top: -10px;
  }

  .logo-mark img {
    top: 25%;
    left: 25%;
  }

  .zigzag,
  .light-zigzag {
    margin: 15% 0;
  }

  .stitch img {
    width: 100%;
  }

  .virtual_circle {
    width: 80px;
    height: 80px;
  }

  .virtual_circle_text {
    padding-top: 25%;
    font-size: 12px;
    line-height: 20px;
  }

  .virtual_circle_text span {
    font-size: 15px;
  }

  .virtual-top-contents button {
    font-size: 15px;
  }
}

.emergency {
  background-color: #f5c9c6;
  border-radius: 5px;
  color: #ed1c24;
  font-size: 16px;
  font-weight: bold;
}

.text-link {
  border-bottom: #6c757d solid 2px;
}

.column-container {
  background-color: hsl(193, 92%, 95%);
  border-radius: 30px;
  color: #384b50;
}

.in-page-link {
  color: #0f8ffa;
  border-bottom: 1px solid #0f8ffa;
}

.contact-main {
  padding-top: 180px;
}

.contact-main h1 {
  text-align: center;
  font-size: 32px;
  color: #777;
}

.contact-form {
  width: 350px;
  margin: 40px auto 0;
}

.contact-form label {
  display: block;
  margin-bottom: 20px;
}

.contact-form label > p {
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px #aaa solid;
  border-radius: 10px;
  padding: 4px;
}

.form-submit {
  margin-top: 10px;
}

.contact-main .access {
  margin-top: 120px;
  padding-top: 50px;
}

@media screen and (max-width: 767.98px) {
  .contact-main {
    padding-top: 100px;
  }
}

.aws-merit-list h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.aws-merit-list h3 a {
  color: #343a40;
}

.aws-merit-list li {
  margin-bottom: 30px;
}

.aws-merit-list li::marker {
  font-size: 20px;
}

.fv-title {
  font-size: 56px;
  line-height: 1.5;
}

.fv-harbors {
  font-family: noto-sans-cjk-jp, sans-serif;
}

.virtual-fv-cv-btn {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.virtual-fv-cv-btn > button {
  width: 49%;
  font-weight: bold;
  background-color: #df7156;
  border: 1px solid #df7156;
  border-radius: 100px;
  font-size: 26px;
  color: #fff;
  transition: background 0.4s;
  padding: 15px;
}

.virtual-fv-cv-btn > button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: #df7156;
}

#header.rooms-header {
  height: auto;
  padding-top: 0;
}

.rooms-header .h-tit {
  color: #a9a9a9;
}

@media screen and (max-width: 987px) {
  .fv-title {
    font-size: 44px;
  }

  .virtual-fv-cv-btn > button {
    font-size: 22px;
  }
}

@media screen and (max-width: 987px) {
  .virtual-fv-cv-btn > button {
    font-size: 18px;
  }
}

.space-slider {
  padding: 0;
  position: relative;
}

.space-slider img {
  width: 100%;
  height: auto;
}

.slick-current + li + li img {
  border-radius: 30px 0 0 30px;
}

.space-slider .prev {
  position: absolute;
  bottom: -70px;
  right: 160px;
}

.space-slider .next {
  position: absolute;
  bottom: -70px;
  right: 100px;
}

.space-slider .prev img,
.space-slider .next img {
  width: 34px;
  height: 34px;
}

.space-intro img {
  width: 82%;
}

.space-intro h3 {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: left;
}

.space-intro-left,
.space-intro-right {
  width: 50%;
  position: relative;
}

.space-intro-left::after {
  content: "Office space";
  background-color: #9f9f9f;
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  padding: 0 36px 2px;
  border-radius: 36px;
  position: absolute;
  top: 230px;
  right: 0;
}

.space-intro-right {
  text-align: right;
}

.space-intro-right img {
  position: absolute;
  top: 0;
  right: 0;
}

.space-intro-right::after {
  content: "Terrace space";
  background-color: #9f9f9f;
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  padding: 0 36px 2px;
  border-radius: 36px;
  position: absolute;
  top: 480px;
  left: 84px;
}

@media screen and (max-width: 767.8px) {
  .space-intro {
    margin-bottom: 20px;
  }

  .space-intro-left,
  .space-intro-right {
    width: 100%;
    text-align: center;
  }

  .space-intro h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
  }

  .space-intro-right img {
    position: static;
    margin-top: 40px;
  }

  .space-intro-left::after {
    padding: 0 28px 2px;
    font-size: 28px;
    top: auto;
    right: auto;
    left: 0;
    bottom: -15px;
  }

  .space-intro-right::after {
    font-size: 28px;
    padding: 0 28px 2px;
    border-radius: 36px;
    position: absolute;
    top: auto;
    left: 0;
    bottom: -15px;
  }

  .slick-current + li img {
    border-radius: 20px 0 0 20px !important;
  }

  .space-slider .prev {
    bottom: -60px;
    right: 90px;
  }

  .space-slider .next {
    position: absolute;
    bottom: -60px;
    right: 30px;
  }
}

form span.bg-danger {
  background-color: #FA817D !important;
}
/* END */


.contact-main {
  background-image: url(../img/contacts1.jpg);
  background-size: cover;
  position: relative;
}

.contact-main::before{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  z-index: 10;
}

.contact-main h1, .contact-main p {
  position: relative;
  color: #fff;
  z-index: 20;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 20;
}

.contact-form .submit-button {
  margin-top: 10px;
  background-color: #18325F;
  color: #fff;
  border: 3px #18325F solid;
}

.contact-form .submit-button:hover {
  background-color: #fff;
  color: #18325F;
  transition: background 0.4s;
}